@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
  background-color: #747373;
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(294deg)
    brightness(106%) contrast(100%);
}

.outline {
  @apply outline-none focus:outline-offset-1 transition-all duration-300;
}
